.row#homework
  .col-xs-12
    .page-header
      h2.text-center Homework
    .col-xs-12.text-center
      //b Items
  
  .row
    if hwTitles.length == 0
      h4.text-center No homework!
      br
    else
      for title in hwTitles
        .col-xs-12.col-md-6.hw-item.text-center
          a.title(href="/courses/"+homework[title][0].course.mID)= title
          ol
            for item in homework[title]
              li(data-id=item._id)
                span(class="assignment"+(item.completed == true ? " completed" : ""))= item.desc+" "
                i.fa.fa-close.remove-assignment
                span  &nbsp;  &nbsp;  &nbsp;
          br
  br
  if currentUser.courses.length > 0
    .row
      form.form-inline#homework-form(method="POST", action="/days/"+date.format('YYYY-MM-DD')+"/homework?sd=B", role="form")
        select.form-control(id="newHWItemCourse", name="newHWItemCourse", required=true)
          for course in currentUser.courses
            option(value=course.mID)= course.title
        input.form-control(id="newHWItemDesc", name="newHWItemDesc", type="text", placeholder="Description", required=true)
        button.btn.btn-primary.full-when-xs#homework-button Add
