extends /layout

block content
  .container
    include /info
    .jumbotron
      h1(style="text-transform: capitalize") In Just #{moment("2015-09-11").fromNow(true)}
      p.
        It will begin again.


    .row
      .col-xs-12.col-sm-6.col-md-4.center
        img.panel.panel-default(style="width: 100%; max-width: 300px;", src="http://www.xavierhs.org/s/81/images/editor/tom/regis.jpg")
      .col-xs-12.col-sm-6.col-md-8
        .panel.panel-primary
          .panel-heading
            h1.panel-title Statistics
          .panel-body
            span The 2016 school year will start in #{full_year} days.
    .row
      .col-xs-12
        .progress
          .progress-bar.progress-bar-striped.active(role="progressbar", aria-valuenow="20", aria-valuemin="0", aria-valuemax="100", style="width: 20%")
            span.sr-only 20% ready
    
    .row
      .col-xs-12
        a(class="twitter-timeline", data-widget-id="268815703732260864", href="https://twitter.com/regisalerts", data-tweet-limit="10") Tweets by @regisalerts
        
    
    hr
    .row
      .col-xs-12.text-center
        a.btn.btn-primary(target="_blank", href="https://bitbucket.org/apexal/adiutor") Source Code
        a.btn.btn-default(target="_blank", href="http://www.regis.org/") Regis Site
        a.btn.btn-default(target="_blank", href="http://intranet.regis.org/") Intranet
        a.btn.btn-default(target="_blank", href="http://moodle.regis.org/my/") Moodle
        a.btn.btn-default(target="_blank", href="https://owa.regis.org/") OWA
        a.btn.btn-default(target="_blank", href="https://myfiles.regis.org/") MyFiles
    
    #tweet
      script.
        window.twttr = (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0],
          t = window.twttr || {};
        if (d.getElementById(id)) return t;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);

        t._e = [];
        t.ready = function(f) {
          t._e.push(f);
        };

        return t;
        }(document, "script", "twitter-wjs"));</script>
