/* Sections
 * 01 - Layout
 * 02 -
 * 03 - Service specific
 */

a.undecorated {
  color: inherit;
  text-decoration: inherit;
  font-weight: inherit;
}

.right {
  float: right;
}

.left {
  float: left;
}

/*** 01 - Layout ***/

@media (min-width: 790px) {
  ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
  }
}

html {
  width: 100%;
  height: 100%;
}
body { height: 100%;}

main {
  margin-top: 70px;
  padding-bottom: 70px;
}

main.pushed {
  margin-left: 220px;
}

/*main.pushed > .container {
    width: 70%;
}
*/

@media (max-width: 768px) {
  navbar.navbar-fixed-bottom > container{
    height: 50px;
  }
}

#mobile-bottom-bar {
  height: 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.navbar-pic {height: 50px;}

#mobile-bottom-bar a{
  flex: 1;
  padding: 10px 10px 10px 20px;
  font-size: 1.5em;
  color: white;
  text-decoration: none;
}

#mobile-bottom-bar a:hover {
  background-color: #090909;
}

.center {
  text-align: center;
}

#sidebar {
  overflow: auto;
  z-index: 100;
  padding: 20px;
  padding-top: 50px;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 220px;
  background: #333333;
  height: 100%;
}

#sidebar a {
  text-decoration: none;
  color: white;
}

#sidebar-pic {
  border: 2px solid #222222;
  width: 40%;
  min-width: 100px;
}

#online-now-sidebar {
  vertical-align: bottom;
}

@media (max-width: 768px) {
  #sidebar {
    display: none;
  }
  main.pushed {
    margin-left: initial;
  }
}

#day-controls {
  font-weight: bold;
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

#day-controls.short {
  width: 40%;
}


span.badge {
  margin-left: 5px;
}
/*** 02 - Chat Box ***/

#chat-box {
  width: 400px;
  height: 300px;
  position: fixed;
  bottom: 50px;
  right: 0;
}

#chat-messages {
  overflow: auto;
  height: 90%;
}

.message .padded {
  padding-top: 2px;
  padding-left: 5px;
  padding-right: 5px;
}

.message img {
  width: 50px;
}

.othermessage img, .othermessage b, .othermessage div, .othermessage span {
  float: right;
}

.mymessage img, .mymessage b, .mymessage div{
  float: left;
}



#chat-controls {
  position: fixed;
  right: 0;
  bottom: 0;
}

#chat-controls input {
  width: 320px;
}

#chat-controls button {
  width: 80px;
}

/*** 03 - Service specific ***/

/* Intro-page */

.larger {
  font-size: 120%;
}

.no-margin {
  margin: 0;
}

/* Home-page */

/* User List Page */

@media (max-width: 768px) {
  #bottom-bar {
    max-height: none;
  }

  .center-xs {
    text-align: center;
  }
}

.table-pic {
  width: 50px;
}

.user-box, .advisement-user-box {
  margin: 0 auto;
}

.user-box, .user-box img {
  width: 160px;
}

.advisement-user-box, .advisement-user-box img {
  width: 100px;
}

.advisement-user-box button {
  font-size: 80%;
}

.user-adv {
  position: absolute;
  bottom: 45px;
  font-size: 1.7em;
  font-weight: bold;
  color: #222;
  left: 105px;
}

.profile-user-adv {
  position: absolute;
  bottom: 95px;
  font-size: 1.8em;
  font-weight: bold;
  color: #222;
  left: 135px;
}

.user-verified {
  padding-right: 5px;
}

.full-width {
  width: 100%;
}

/* User Profile Page */

#profile-pic, .holder {
  margin: 0 auto;
  max-width: 200px;
}


/* Teacher Pages */

.teacher-profile-img {
  max-width: 200px;
}

/* Advisement Pages */
.advisement-user-box button {
  padding-left: 0;
  padding-right: 0;
}

/* Day Pages */

.right-spacer {
  padding-right: 30px;
}

/* Homework Pages */

#schedule-day {
  font-size: 1.5em;
  cursor: pointer;
}

#hw-info {
  font-size: 1.1em;
}

#hw-info a {
  font-weight: 570;
}

#hw-info a:hover {
  text-decoration: none;
}

.hw-item .title{
  text-decoration: none;
  color: inherit;
  font-weight: 500;
  font-size: 1.4em;
}

.assignment.completed {
  text-decoration: line-through;
}

.remove-assignment {
  font-size: 0.8em;
  cursor: pointer;
}

#newHWItemCourse{
  max-width: 30%;
}

#newHWItemDesc {
  width: 60%;
}

#homework-button {
  width: 10%
}

@media (max-width: 757px) {
  #homework-form *{
    width: 100%;
    max-width: 100%;
  }
}

// Tweet

.timeline {
  max-with: 320px;
}

.timeline .stream {
  max-height: 400px;
}
