extends /layout

block content
  .container
    if loggedIn
      h3 Online Now: 
        small#online-user-list
      
    .page-header
      h1 Registered Users
        if tableForm == false
          a.btn.btn-default.right(href="/users?table=1") Table Form
        else
          a.btn.btn-default.right(href="/users") Regular Form

    .row
      .col-xs-12
        form.form-inline#search.hidden
          .form-group
            label(for="name") Name
            input.form-control(type="text", name="name")
          button.btn.btn-primary Search
    
    if tableForm
      .row
        .col-xs-12
          table.table.table-hover.table-striped.user-table
            thead
              tr
                th Picture
                th Advisement
                th Name
                th Rank
            for user in registered
              tr
                td(style="vertical-align: middle;")
                  img.table-pic(src="https://webeim.regis.org/photos/regis/Student/"+user.code+".jpg")
                td.larger(style="vertical-align: middle;")
                  a(href="/advisements/"+user.advisement)= user.advisement
                td.larger(style="vertical-align: middle;")
                  a(href="/users/"+user.username)= user.fullName
                td.larger(style="vertical-align: middle;")= user.rankName
    else
      .row
        for user in registered
          .col-xs-12.col-sm-6.col-md-4.col-lg-3.text-center
            .user-box
              img(alt=user.bio, src="https://webeim.regis.org/photos/regis/Student/"+user.code+".jpg")
              .btn-group.full-width
                a.user-adv(href=(loggedIn ? "/advisements/"+user.advisement : "#"))= user.advisement
                button.full-width.btn.btn-default.dropdown-toggle(data-toggle="dropdown", ara-expanded="false", type="button")= user.fullName+" "
                  if loggedIn
                    span.caret
                if loggedIn
                  ul.dropdown-menu(role="menu")
                    li
                      a(href="/users/"+user.username) View Profile
                    li
                      a(href="/users/"+user.username+"/schedule") View Schedule
                    li
                      a(href="/advisements/"+user.advisement) View Advisement
                    li
                      a(href="mailto:"+user.email) Email
                    li
                      a(href="http://moodle.regis.org/user/profile.php?id="+user.mID) Moodle Profile
    
    .row
      .col-xs-12
        .page-header
          h2 All Users
    
    .row
      .col-xs-12
        table.table.user-table
          thead
            th Advisement
            th Grade
            th Name
          for user in users
            tr(class=(currentUser && user.username == currentUser.username ? "success" : ""))
              td.larger(style="vertical-align: middle;")
                a.undecorated(href="/advisements/"+user.advisement)= user.advisement
              td.larger(style="vertical-align: middle")= user.gradeName
              td.larger(style="vertical-align: middle;")= user.fullName
            
    .row
      br.bottom-spacer
