.tooltipster-shadow {
	border-radius: 1px;
	background: black;
	box-shadow: 0px 0px 2px black;
	color: white;
}
.tooltipster-shadow .tooltipster-content {
	font-family: 'Arial', sans-serif;
	font-size: 14px;
	line-height: 16px;
	padding: 8px 10px;
}
